# Data Science Tolls and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages for that science,
* IDE,
* Aritmetic expressions in Python,

Some of the popular languages that Data Scientists use are:
1. python,
2. julia,
3. R, 
4. M, 
5. Ruby,

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. PyTorch

|Data Science tools|
-------------------
|JupyterLab Notebook|
|Spyder|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python:
1. x % y
2. x // y
3.x / y

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Author:
Micha≈Ç